/* .mm-menu {
	--mm-color-background: #ffffff;
	--mm-color-text: #000000;
}

.mm-navbar {
	--mm-color-background: #fff;
	--mm-color-text-dimmed: #fff;
	--mm-color-icon: #000000;
}
.mm-panel {
	--mm-color-background: #fff;
	--mm-color-text: #000;
	--mm-color-icon: #000;
}
.mm-listitem:after {
	content: none;
} */
/* 
mm-burger {
	--mb-bar-height: 2px;

	padding: 5px;
	border: 1px solid;
	border-radius: 5px;
} */