@import url("../colors/colors.css");
@import url("../fonts-style/fonts.css");

@import url("../header-style/header.css");
@import url("../banner-style/banner.css");
@import url("../arrows-style/arrows.css");
@import url("../pagination-style/pagination.css");
@import url("../burger-menu-style/burger-menu.css");
@import url("../rates-style/rates.css");


body, html {
	margin: 0;
	padding: 0;
	background-color: var(--background-color-body);
	font-family: var(--font-stack);
}

.container {
	margin: 0 auto;
	max-width: 1518px;
}

@media (max-width: 1440px) {
	.container {
		max-width: 1139px;
	}
}

@media (max-width: 768px) {
	.container {
		max-width: 708px;
	}
}

@media (max-width: 320px) {
	.container {
		max-width: 290px;
	}
}