.menu__item {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 8px;

	margin-top: 50px;
	margin-left: 35px;
}

.menu__item_hide {
	display: none;
}

.menu__text {
	font-size: 14px;
	font-family: Gilroy-Bold;
}

#mm-3.mm-panel,
#mm-5.mm-panel,
#mm-7.mm-panel,
#mm-9.mm-panel {
	font-size: 14px;
	padding: 0 0 0 20px;
	margin: 15px 0;
}

.mm-menu {
	height: 100vh;
}

.mm-listview {
	margin: 30px 0 0 0;
}

.menu__list {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: start;
	gap: 15px;
}

.mm-listitem {
	font-size: 28px;
	font-family: Gilroy-Medium;
	padding: 15px 0;
	margin: 0 15px;
	width: 728px;
}

.mm-btn {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.mm-menu--theme-light {
	--mm-color-icon: #000;
	--mm-color-background: #fff;
	--mm-color-background-highlight: #fff;
}

.mm-listitem--opened>.mm-listitem__btn:after {
	right: 23px;
	transform: rotate(45deg);
}

.mm-btn--next:after {
	transform: rotate(225deg);
}

/* .hamburger {
    padding: 0 0 0 20px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
	width: 24px;
    height: 2px;
}

.hamburger-box {
    width: 25px;
    height: 10px;
} */


/* mm-burger {
	color: #333;
} */

@media (max-width: 320px) {
	.menu__item_hide {
		display: block;
	}
	
	.menu__item {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		gap: 8px;
	
		margin-top: 30px;
		margin-left: 25px;
	}

	#mm-3.mm-panel,
	#mm-5.mm-panel,
	#mm-7.mm-panel,
	#mm-9.mm-panel {
		padding: 0 0 0 20px;
		margin: 15px 0;
	}

	.mm-listview {
		margin: 10px 0 0 0;
	}
	
	.mm-listitem {
		font-size: 18px;
		padding: 5px 0;
		margin: 0 5px;
		width: 300px;
	}

	.hamburger {
		padding: 0 10px 0 15px;
	}
	
	.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
		width: 24px;
		height: 2px;
	}
	
	.hamburger-box {
		width: 15px;
		height: 6px;
	}
}