@import url("../scss/fonts-style/fonts.css");

.menu__item {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 8px;

	margin-top: 50px;
	margin-left: 35px;
}

.menu__item_hide {
	display: none;
}

.menu__text {
	font-size: 14px;
	font-family: Gilroy-Bold;
}

#mm-3.mm-panel {
	font-size: 14px;
	padding: 0 0 0 20px;
	margin: 0;
}

.mm-menu {
	height: 100vh;
}

ul.Vertical.mm-listview {
	margin: 0;
	/* margin-bottom: 40px; */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: start;
	/* height: 100vh; */
	/* width: 100%; */
}

.mm-listitem {
	font-size: 28px;
	font-family: Gilroy-Medium;
	padding: 15px 0;
	margin: 0 15px;
	width: 728px;
}

.mm-listitem__text {
	/* padding-top: 30px; */
}

.mm-btn {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.menu__title {
}

.mm-menu--theme-light {
	--mm-color-icon: #000;
	--mm-color-background: #fff;
	--mm-color-background-highlight: #fff;
}

.mm-btn--next:after {
	transform: rotate(225deg);
}

.mm-btn--prev::after {
	/* transform: rotate(45deg); */
}