.rates {
	height: auto;
	background-color: #fff;
	padding: 100px 200px;

	&__top {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		&_title {
			font-size: 42px;
			font-family: Gilroy-Medium;
		}
	}

	&__tabs {
		margin: 10px 0;

		display: flex;
		flex-direction: row;
		gap: 30px;

		.rates__tab {
			display: flex;
			flex-flow: column nowrap;
			justify-content: space-between;
			border-radius: 15px;
			border: #e5e5e5 1px solid;
			overflow: hidden;

			width: 357px;
			height: 570px;

			&_title {
				height: 250px;
				position: relative;

				&-img-container {
					position: relative;
				}

				&-img {
					width: 357px;
				}

				&-text {
					font-size: 22px;
					font-family: Gilroy-Medium;
					position: absolute;
					left: 30px;
					bottom: 10px;
					z-index: 1;
				}
			}

			&_comission {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				margin: 0 30px;
				padding: 0;

				.rates__tab_font {
					font-size: 16px;
					font-family: Gilroy-Light;
				}

				.rates__tab_font-bold {
					font-size: 16px;
					font-family: Gilroy-Medium;
				}
			}

			&_price {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				margin: 0 30px 20px;

				.rates__tab_prices {
					display: flex;
					flex-direction: column;
				}
				&-font-bold {
					font-size: 22px;
					font-family: Gilroy-Medium;

					&-old {
						font-size: 16px;
						font-family: Gilroy-Medium;
						text-decoration: line-through;
					}
				}

				&-button {
					width: 134px;
					height: 50px;
					background-color: #3e58e2;
					color: #fff;
					border: none;
					border-radius: 10px;
					font-size: 16px;
					font-family: Gilroy-Medium;
					// margin: 10px 0 30px;
				}
			}

			.border-bottom {
				border-bottom: 1px dashed #e5e5e5;
			}
		}
	}

	.banners {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		gap: 5px;

		position: absolute;
		left: 10px;
		top: 10px;
		z-index: 1;

		&__promotion {
			background-color: #faff00;
		}

		&__new {
			background-color: #57c325;
		}

		&__hit {
			background-color: #ff2929;
		}

		&__text {
			font-size: 12px;
			font-family: Gilroy-Medium;
			padding: 4px 8px 3px;
			margin: 0;
			text-transform: uppercase;
			border-radius: 5px;
			text-align: center;
		}
	}
}

@media (max-width: 1750px) {
	.rates {
		&__tabs {
			.rates__tab {
				&_price {
					&-font-bold {
						font-size: 18px;
						&-old {
							font-size: 15px;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 1650px) {
	.rates {
		padding: 90px 150px;
	}
}

@media (min-width: 1400px) and (max-width: 1800px) {
	.rates {
		padding: 90px 150px;
		&__top {
			&_title {
				font-size: 31px;
			}
		}
		&__tabs {
			gap: 29px;
			.rates__tab {
				width: auto;
				height: 432px;
				&_title {
					height: 184px;
					&-img {
						max-width: 300px;
						max-height: 184px;
					}
					&-text {
						font-size: 20px;
						left: 25px;
						bottom: 8px;
					}
				}
				&_comission {
					margin: 0 20px;
					.rates__tab_font {
						font-size: 15px;
					}
					.rates__tab_font-bold {
						font-size: 15px;
					}
				}
				&_price {
					margin: 0 20px 10px;
					&-font-bold {
						font-size: 20px;
						&-old {
							font-size: 15px;
						}
					}
					&-button {
						width: 109px;
						height: 44px;
						font-size: 15px;
					}
				}
			}
		}
	}
}

@media (max-width: 1399px) {
	.rates {
		padding: 60px 100px;
		.rates__tab_comission {
			margin: 0 15px;
		}
		.rates__tab_price {
			margin: 0 15px 10px;
			&-button {
				width: 90px;
				height: 40px;
				font-size: 14px;
			}
		}
	}
}

@media (max-width: 1249px) {
	.rates {
		padding: 40px 80px;
	}
}

@media (max-width: 1149px) {
	.rates {
		display: flex;
		flex-direction: column;
		justify-content: start;
		padding: 40px 90px;
		&__top {
			&_title {
				font-size: 28px;
			}
		}
		&__tabs {
			gap: 30px;
			.rates__tab {
				width: auto;
				height: 428px;
				&_title {
					height: 184px;
					&-img {
						max-width: 420px;
						max-height: 184px;
					}
					&-text {
						font-size: 22px;
						left: 20px;
						bottom: 0px;
					}
				}
				&_comission {
					margin: 0 20px;
					.rates__tab_font {
						font-size: 14px;
					}

					.rates__tab_font-bold {
						font-size: 14px;
					}
				}
				&_price {
					margin: 5px 20px 20px;
					&-font-bold {
						font-size: 18px;
						&-old {
							font-size: 14px;
						}
					}
					&-button {
						width: 115px;
						height: 44px;
						font-size: 14px;
					}
				}
			}
		}

		.banners {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;
			gap: 5px;

			position: absolute;
			left: 10px;
			top: 10px;
			z-index: 1;

			&__promotion {
				background-color: #faff00;
			}

			&__new {
				background-color: #57c325;
			}

			&__hit {
				background-color: #ff2929;
			}

			&__text {
				font-size: 12px;
				font-family: Gilroy-Medium;
				padding: 4px 8px 3px;
				margin: 0;
				text-transform: uppercase;
				border-radius: 5px;
				text-align: center;
			}
		}
	}
}

@media (max-width: 768px) {
	.rates {
		display: flex;
		flex-direction: column;
		justify-content: start;
		padding: 30px;
		&__tabs {
			gap: 20px;
		}
	}
}

@media (max-width: 400px) {
	.rates {
		display: flex;
		flex-direction: column;
		justify-content: start;
		padding: 15px;
		&__top {
			padding-top: 15px;
			&_title {
				font-size: 22px;
			}
		}
		&__tabs {
			margin: 10px 0 20px;
			gap: 10px;
			.rates__tab {
				width: 280px;
				height: auto;
				&_title {
					height: 184px;
					&-img {
						width: 280px;
					}
					&-text {
						font-size: 18px;
						left: 15px;
						bottom: 5px;
					}
				}
				&_comission {
					margin: 0 15px;
					.rates__tab_font {
						font-size: 14px;
					}
					.rates__tab_font-bold {
						font-size: 14px;
					}
				}
				&_price {
					margin: 5px 15px 15px;
					&-font-bold {
						font-size: 18px;	
						&-old {
							font-size: 14px;
						}
					}
					&-button {
						width: 115px;
						height: 44px;
						font-size: 14px;
					}
				}
			}
		}
	}
}