.rates {
  height: auto;
  background-color: var(--background-color);
  padding: 100px 0;
}
.rates__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.rates__top_title {
  font-size: 42px;
}
.rates__tabs {
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.rates__tabs .rates__tab {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  border-radius: 15px;
  border: var(--border-color) 1px solid;
  overflow: hidden;
  width: 357px;
  height: 570px;
}
.rates__tabs .rates__tab_title {
  height: 250px;
  position: relative;
}
.rates__tabs .rates__tab_title-img-container {
  position: relative;
}
.rates__tabs .rates__tab_title-img {
  width: 357px;
}
.rates__tabs .rates__tab_title-text {
  font-size: 22px;
  position: absolute;
  left: 30px;
  bottom: 10px;
  z-index: 1;
}
.rates__tabs .rates__tab_comission {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 30px;
  padding: 0;
}
.rates__tabs .rates__tab_comission .rates__tab_font {
  font-size: 16px;
  font-family: Gilroy-Light;
}
.rates__tabs .rates__tab_comission .rates__tab_font-bold {
  font-size: 16px;
}
.rates__tabs .rates__tab_price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 30px 20px;
}
.rates__tabs .rates__tab_price .rates__tab_prices {
  display: flex;
  flex-direction: column;
}
.rates__tabs .rates__tab_price-font-bold {
  font-size: 22px;
}
.rates__tabs .rates__tab_price-font-bold-old {
  font-size: 16px;
  text-decoration: line-through;
}
.rates__tabs .rates__tab_price-button {
  width: 134px;
  height: 50px;
  background-color: var(--primary-color);
  color: var(--font-color-second);
  border: none;
  border-radius: 10px;
  font-size: 16px;
}
.rates__tabs .rates__tab .border-bottom {
  border-bottom: 1px dashed var(--border-color);
}
.rates .banners {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 1;
}
.rates .banners__promotion {
  background-color: var(--cards-promo-color);
}
.rates .banners__new {
  background-color: var(--cards-new-color);
}
.rates .banners__hit {
  background-color: var(--cards-hit-color);
}
.rates .banners__text {
  font-size: 12px;
  padding: 4px 8px 3px;
  margin: 0;
  text-transform: uppercase;
  border-radius: 5px;
  text-align: center;
}

@media (max-width: 1750px) {
  .rates__tabs .rates__tab_price-font-bold {
    font-size: 18px;
  }
  .rates__tabs .rates__tab_price-font-bold-old {
    font-size: 15px;
  }
}
@media (max-width: 1650px) {
  .rates {
    padding: 90px 0;
  }
}
@media (max-width: 1440px) {
  .rates {
    padding: 60px 0;
  }
  .rates__top_title {
    font-size: 31px;
  }
  .rates__tabs .rates__tab {
    width: auto;
    height: 432px;
  }
  .rates__tabs .rates__tab_title {
    height: 184px;
  }
  .rates__tabs .rates__tab_title-img {
    max-width: 300px;
    max-height: 184px;
  }
  .rates__tabs .rates__tab_title-text {
    font-size: 20px;
    left: 25px;
    bottom: 8px;
  }
  .rates__tabs .rates__tab_comission {
    margin: 0 20px;
  }
  .rates__tabs .rates__tab_comission .rates__tab_font {
    font-size: 15px;
  }
  .rates__tabs .rates__tab_comission .rates__tab_font-bold {
    font-size: 15px;
  }
  .rates__tabs .rates__tab_price {
    margin: 0 20px 10px;
  }
  .rates__tabs .rates__tab_price-font-bold {
    font-size: 20px;
  }
  .rates__tabs .rates__tab_price-font-bold-old {
    font-size: 15px;
  }
  .rates__tabs .rates__tab_price-button {
    width: 109px;
    height: 44px;
    font-size: 15px;
  }
}
@media (max-width: 1149px) {
  .rates {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 40px 0;
  }
  .rates__top_title {
    font-size: 28px;
  }
  .rates__tabs {
    gap: 30px;
  }
  .rates__tabs .rates__tab {
    width: auto;
    height: 428px;
  }
  .rates__tabs .rates__tab_title {
    height: 184px;
  }
  .rates__tabs .rates__tab_title-img {
    max-width: 420px;
    max-height: 184px;
  }
  .rates__tabs .rates__tab_title-text {
    font-size: 22px;
    left: 20px;
    bottom: 0px;
  }
  .rates__tabs .rates__tab_comission {
    margin: 0 20px;
  }
  .rates__tabs .rates__tab_comission .rates__tab_font {
    font-size: 14px;
  }
  .rates__tabs .rates__tab_comission .rates__tab_font-bold {
    font-size: 14px;
  }
  .rates__tabs .rates__tab_price {
    margin: 5px 20px 20px;
  }
  .rates__tabs .rates__tab_price-font-bold {
    font-size: 18px;
  }
  .rates__tabs .rates__tab_price-font-bold-old {
    font-size: 14px;
  }
  .rates__tabs .rates__tab_price-button {
    width: 115px;
    height: 44px;
    font-size: 14px;
  }
  .rates .banners {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
  }
  .rates .banners__text {
    font-size: 12px;
    padding: 4px 8px 3px;
    margin: 0;
  }
}
@media (max-width: 992px) {
  .rates__block {
    display: flex;
    flex-direction: column;
  }
  .rates__pagination {
    align-self: center;
  }
}
@media (max-width: 768px) {
  .rates {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 30px 0;
  }
  .rates__tabs {
    gap: 20px;
  }
}
@media (max-width: 400px) {
  .rates {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 15px 0;
  }
  .rates__top {
    padding-top: 15px;
  }
  .rates__top_title {
    font-size: 22px;
  }
  .rates__tabs {
    margin: 10px 0 20px;
    gap: 10px;
  }
  .rates__tabs .rates__tab {
    width: 280px;
    height: auto;
  }
  .rates__tabs .rates__tab_title {
    height: 184px;
  }
  .rates__tabs .rates__tab_title-img {
    width: 280px;
  }
  .rates__tabs .rates__tab_title-text {
    font-size: 18px;
    left: 15px;
    bottom: 5px;
  }
  .rates__tabs .rates__tab_comission {
    margin: 0 15px;
  }
  .rates__tabs .rates__tab_comission .rates__tab_font {
    font-size: 14px;
  }
  .rates__tabs .rates__tab_comission .rates__tab_font-bold {
    font-size: 14px;
  }
  .rates__tabs .rates__tab_price {
    margin: 5px 15px 15px;
  }
  .rates__tabs .rates__tab_price-font-bold {
    font-size: 18px;
  }
  .rates__tabs .rates__tab_price-font-bold-old {
    font-size: 14px;
  }
  .rates__tabs .rates__tab_price-button {
    width: 115px;
    height: 44px;
    font-size: 14px;
  }
}/*# sourceMappingURL=rates.css.map */