.header {
	height: auto;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	background-color: #fff;

	&__left-block {
		border-right: 1px solid #e5e5e5;

		.header__logo {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			text-decoration: none;

			&_img {
				width: 50px;
				height: 50px;
				margin: 20px 10px 20px 30px;
			}

			&_title {
				font-size: 25px;
				font-family: Gilroy-Medium;
				text-transform: uppercase;
				color: var(--main-color);
				margin-right: 30px;

				&:hover {
					color: var(--main-color);
					text-decoration: underline 1.3px;
					text-underline-offset: 5px;
				}
			}
		}
	}

	&__center-block {
		font-family: Gilroy-Medium;
		font-size: 16px;

		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		flex-grow: 3;

		.header__links {
			margin: 0 15px;

			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;

			.header__link {
				text-decoration: none;
				margin: 0 15px;
				color: #000;

				&:hover {
					color: #000;
				}
				&:visited {
					color: #000;
				}
				&:hover {
					text-decoration: underline;
				}
			}
		}

		.header__adress {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			margin: 0 30px;

			text-decoration: none;
			color: #000;

			&_img {
				margin: 0 8px;
			}

			&:visited {
				color: #000;
			}
			&:hover {
				text-decoration: underline;
			}
		}
	}

	&__right-block {
		border-left: 1px solid #e5e5e5;

		.header__phone {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			margin: 34px 30px;

			font-family: Gilroy-Medium;
			font-size: 16px;
			text-decoration: none;
			color: #000;

			&_img {
				margin: 0 8px;
			}

			&:visited {
				color: #000;
			}
			&:hover {
				text-decoration: underline;
			}
		}

		.header__burger-menu {
			display: none;
		}
	}
}

@media (max-width: 1440px) {
	.header {
		&__left-block {
			.header__logo {
				&_img {
					width: 40px;
					height: 40px;
					margin: 10px 12px 10px 20px;
				}
				&_title {
					font-size: 22px;
					margin-right: 24px;
					&:hover {
						text-underline-offset: 4px;
					}
				}
			}
		}
		&__center-block {
			font-size: 15px;
			.header__adress {
				margin: 0 24px;
				&_img {
					width: 20px;
				}
			}
		}
		&__right-block {
			.header__phone {
				margin: 25px 24px 25px 18px;
				font-size: 15px;	
				&_img {
					width: 20px;
				}
			}
		}
	}
}

@media (max-width: 1149px) {
	.header__center-block {
		display: none;
	}
	.header__right-block {
		.header__burger-menu {
			display: block;
		}
	}
}

@media (max-width: 768px) {
	.header {
		&__right-block {
			.header__phone {
				font-size: 14px;	
			}
		}
	}
}

@media (max-width: 320px) {
	.header {
		&__left-block {
			.header__logo {
				&_img {
					width: 30px;
					height: 30px;
					margin: 10px 12px 10px 15px;
				}
				&_title {
					font-size: 18px;
					margin-right: 140px;
				}
			}
		}
		&__right-block {
			.header__phone {
				display: none;
			}
		}
	}
}