.preview {
	background: url('../../img/bg-img.jpg') center/100% auto no-repeat;

	&__background-dark {
		background-color: rgba(0, 0, 0, 0.5);
	}

	&__wrapper {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
		padding: 122px 200px;
		// max-width: 1519px;

		.preview__description {
			display: flex;
			flex-flow: column nowrap;
			justify-content: start;
			align-items: start;
			max-width: 745px;
			color: #fff;

			&_big-size {
				font-size: 54px;
				font-family: Gilroy-Medium;
				padding: 0;
				margin: 0 0 50px;
			}

			&_small-size {
				font-size: 18px;
				font-family: Gilroy-Light;
				padding: 0;
			}

			.arrows__bottom {
				flex-grow: 2;
				margin: 140px 0 0;
				padding: 0;
			}
		}

		.feedback-form {
			background-color: #fff;
			padding: 35px 40px 40px;
			border-radius: 15px;

			&__title {
				font-size: 32px;
				font-family: Gilroy-Medium;
				margin: 0 0 10px;
			}

			&__text {
				font-size: 16px;
				font-family: Gilroy-Light;
				width: 407px;
				margin-bottom: 25px;
			}

			&__block_wrapper {
				display: flex;
				flex-direction: column;

				.feedback-form__block {
					display: flex;
					flex-direction: column;

					&_item {
						display: flex;
						flex-direction: column;
						justify-content: start;
						align-items: flex-start;
						margin-bottom: 20px;
						font-size: 16px;
						font-family: Gilroy-Bold;
						margin: 5px 0;

						.item__input {
							height: 48px;
							width: 365px;
							background-color: #f8f9fb;
							border-radius: 10px;
							border: #e5e5e5 1px solid;
							font-size: 30px;
							font-family: Gilroy-Medium;
							padding: 0 20px;
							margin: 5px 0 0 0;
						}
					}
				}
			}

			&__input_checkbox {
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: center;
				gap: 15px;
				margin-top: 35px;

				.checkbox_input {
					height: 24px;
					width: 24px;
					background-color: #f8f9fb;
					border-radius: 10px;
					border: #e5e5e5 1px solid;
					margin: 0;
					padding: 0;
				}

				.info-transfer {
					font-size: 14px;
					font-family: Gilroy-Light;

					&__link {
						color: #000;
						text-decoration: underline 1px solid;
						text-underline-offset: 3px;
					}
				}
			}

			&__button {
				width: 407px;
				height: 50px;
				background-color: #3e58e2;
				color: #fff;
				border: none;
				border-radius: 10px;
				font-size: 16px;
				font-family: Gilroy-Medium;
				margin-top: 35px;
			}
		}
	}
}

@media (min-width: 1150px) and (max-width: 1650px) {
	.preview {
		background: url('../../img/bg-img-square.jpg') center/100% auto
			no-repeat;
		&__wrapper {
			padding: 90px 150px;
			.preview__description {
				max-width: 555px;
				&_big-size {
					font-size: 40px;
					margin: 0 0 40px;
				}
				&_small-size {
					font-size: 16px;
				}
				.arrows__bottom {
					flex-grow: 2;
					// margin: 150px 0 0;
					padding: 0;
				}
			}
			.feedback-form {
				padding: 25px 30px 30px;
				&__title {
					font-size: 24px;
					margin: 10px 0;
				}
				&__text {
					font-size: 15px;
					max-width: 300px;
					margin-bottom: 20px;
				}
				&__block_wrapper {
					.feedback-form__block {
						margin: 0;
						&_item {
							margin-bottom: 20px;
							font-size: 15px;
							.item__input {
								height: 44px;
								width: 255px;
								font-size: 24px;
								margin: 5px 0 0 0;
							}
						}
					}
				}
				.feedback-form__input_checkbox {
					gap: 10px;
					margin-top: 15px;
					.checkbox_input {
						height: 22px;
						width: 22px;
					}
					.info-transfer {
						font-size: 12px;
					}
				}
				&__button {
					width: 300px;
					height: 44px;
					font-size: 15px;
				}
			}
		}
	}
}

@media (max-width: 1399px) {
	.preview {
		&__wrapper {
			padding: 60px 100px;
		}
	}
}

@media (max-width: 1249px) {
	.preview {
		&__wrapper {
			padding: 40px 80px;
		}
	}
}

@media (max-width: 1149px) {
	.preview {
		&__wrapper {
			flex-flow: column nowrap;
			padding: 40px 90px;
			.preview__description {
				max-width: 890px;
				&_big-size {
					font-size: 40px;
					margin: 0 0 20px;
				}
				&_small-size {
					font-size: 18px;
					margin-bottom: 50px;
				}
			}
			.feedback-form {
				padding: 25px 30px 30px;
				max-width: 830px;
				&__title {
					font-size: 20px;
					margin: 0 0 10px;
				}
				&__text {
					font-size: 14px;
					width: 630px;
				}
				&__block_wrapper {
					max-width: 830px;
					.feedback-form__block {
						flex-flow: row wrap;
						justify-content: flex-start;
						gap: 13px;
						max-width: 830px;
						&_item {
							// max-width: 380px;
							font-size: 14px;
							.item__input {
								height: 44px;
								// max-width: 100%;
								// width: 100%;
								font-size: 24px;
								padding: 0 20px;
								margin: 5px 0;
							}
						}
					}
					.feedback-form__input_wrapper {
						display: flex;
						flex-direction: row;
						justify-content: space-between;
						align-items: center;
						max-width: 890px;
						margin-top: 15px;
						.feedback-form__input_checkbox {
							gap: 15px;
							margin: 0;
							.info-transfer {
								font-size: 12px;
							}
						}
						.feedback-form__button {
							width: 168px;
							height: 44px;
							font-size: 14px;
							margin: 0;
						}
					}
				}
			}
			.pagination {
				display: block;
			}
		}
	}
}

@media (max-width: 768px) {
	.preview {
		background: url('../../img/bg-img-square-small.jpg') center/100% auto no-repeat;
		&__wrapper {
			padding: 30px;
			.preview__description {
				max-width: 708px;
				&_big-size {
					font-size: 36px;
					margin: 0 0 20px;
				}
				&_small-size {
					font-size: 16px;
					margin-bottom: 40px;
				}
			}
			.feedback-form {
				max-width: 708px;
				&__text {
					width: 648px;
				}
				&__block_wrapper {
					max-width: 708px;
					.feedback-form__block {
						&_item {
							.item__input {
								height: 44px;
								// max-width: 100%;
								width: 275px;
								font-size: 24px;
								padding: 0 20px;
								margin: 5px 0;
							}
						}
					}
				}
			}
		}
	}
}

@media (max-width: 400px) {
	.preview {
		&__wrapper {
			padding: 15px;	
			.preview__description {
				max-width: 290px;	
				&_big-size {
					font-size: 26px;
					margin: 20px 0 10px;
				}
				&_small-size {
					font-size: 14px;
				}
			}
			.feedback-form {
				padding: 20px;
				// margin: 15px;
				max-width: 290px;	
				&__title {
					font-size: 20px;
					margin: 0 0 10px;
				}
				&__text {
					font-size: 14px;
					width: 250px;
					margin-bottom: 15px;
				}
				&__block_wrapper {
					.feedback-form__block {
						&_item {
							margin-bottom: 0;
							font-size: 14px;
							.item__input {
								height: 44px;
								width: 230px;
								font-size: 18px;
								padding: 0 10px;
							}
						}
					}
				}
				.feedback-form__input_checkbox {
					gap: 10px;
					margin-top: 15px;
				}
				.feedback-form__input_wrapper {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					gap: 20px;
					.feedback-form__button {
						width: 250px;
						height: 44px;
						font-size: 14px;
					}
				}
			}
		}
	}
}